/* General */
body {
  color: white;
  background: #3a3a3a;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
}

/* Navbar */
#main-nav {
  z-index: 100;
}

.nav-icon {
  font-size: 28px;
}

.nav-icon-info {
  font-size: 25px;
}

/* Home Page */
img.home-img,
img.bg-img {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-overlay {
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(255, 0, 0, 0.9); */
  z-index: 50;
}

#main-overlay h1 {
  text-shadow: 4px 3px 7px #3a3a3a;
  margin-top: 300px;
}

div#main-overlay-buttons {
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
}

/* --------------------------Logout/Register ---------------------------------*/
.bg-image {
  background-image: url("../images/logout-in.jpg");
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.card.logout-in-card {
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  margin-top: -500px;
  animation-timing-function: ease-out;
}

div.card.logout-in-card > .card-body {
  color: black;
}

/* --------------------------Dashboard-------------------------------------- */
.dash-bg {
  background-image: url("../images/generic-bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */
  z-index: -100;
}

.dash-bg section#sidebar-content {
  position: fixed;
  width: 350px;
  background: rgba(50, 50, 50, 0.4);
  height: 100%;
}

#add-profile,
#add-task,
button#add-milestone,
button#add-activity {
  background: none;
  color: white;
  font-size: 24px;
  border: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

#add-profile:hover,
#add-task:hover,
#add-milestone:hover,
#add-activity:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#add-profile:focus,
#add-task:focus,
#add-milestone:focus,
#add-activity:focus {
  outline: none;
}

.extra-info {
  margin-top: 175px;
}

div.profile-bg {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}

.profile-content {
  z-index: 100;
  position: absolute;
}

section.module-list {
  margin-top: 175px;
  /* background: red; */
  width: 350px;
  height: 200px;
  z-index: 100;
  overflow: hidden;
  overflow-y: scroll;
  text-overflow: ellipsis;
  pointer-events: all;
}

.module-actions {
  opacity: 0;
  filter: (opacity=0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

section.extra-info-area {
  margin-top: 30px;
  /* background: red; */
  width: 350px;
  height: 350px;
  z-index: 100;
  overflow: hidden;
  overflow-y: scroll;
  pointer-events: all;
}

.info-toggler {
  pointer-events: all;
}

.info-toggler a {
  color: white;
  text-decoration: none;
}

.info-toggler li {
  width: 33%;
  text-align: center;
  background: rgba(50, 50, 50, 0.3);
  border-radius: 5px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.info-toggler li:hover,
.info-toggler li.active {
  background: rgba(50, 50, 50, 0.7);
}

.info-tab {
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  opacity: 1;
}

section.calendar-area {
  position: fixed;
  width: calc(100% - 350px);
  width: -moz-calc(100% - 350px); /* Firefox */
  width: -webkit-calc(100% - 350px); /* WebKit */
  width: -o-calc(100% - 350px); /* Opera */
  height: 100%;
  top: 0px;
  left: 350px;
  z-index: 100;
}

.panel-group a {
  color: white;
}

.panel-group {
  z-index: 200;
}

.panel-title {
  margin-bottom: 0px;
}

.panel-heading {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.panel-heading:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.panel-heading:hover .module-actions {
  opacity: 1;
  filter: (opacity=1);
}

/* .panel-body a.d-block {
  /* margin-left: 24px; 
} */

#add-profile-modal,
#add-assignment-modal,
#add-task-modal,
#add-activity-modal,
#add-milestone-modal,
#do-activity-modal {
  color: black;
}

/* .modal-content {
  background: black;
} */

.task-cal {
  margin: 0 auto;
  width: 95%;
  height: 75vh;
  pointer-events: all;
  border-radius: 10px;
  background: rgba(30, 30, 30, 0.4);
}

.cal-control {
  pointer-events: all;
}

.task-cal tbody {
  border-radius: 10px;
  background: rgba(180, 180, 180, 0.1);
  vertical-align: top;
}

.task-cal tbody tr td {
  height: 20%;
  width: 14.3%;
  margin-top: -100px;
  border: 1px solid rgba(100, 100, 100, 0.5);
  max-width: 150px;
}

.task-cal tbody tr td p {
  margin-right: 5px;
  margin-bottom: 0;
}

.cal-head {
  text-shadow: 2px 2px #333333;
  pointer-events: all;
}

.cal-head a {
  color: inherit;
  text-decoration: none;
}

.cal-head span {
  margin: 0 10px 0 10px;
}

.task-bar {
  padding: auto;
  margin-bottom: 1px;
  width: 102%;
  /* text-shadow: 2px 2px #333333; */
  text-shadow: -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555,
    1px 1px 0 #555;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: hidden;
  text-overflow: ellipsis;
  pointer-events: all;
}

.task-info {
  z-index: 300;
  position: absolute;
  width: 150px;
  margin-top: -50px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  color: black;
  font-size: 60%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: none;
}

.task-bar:hover + .task-info {
  /* display: block; */
  opacity: 1;
  filter: alpha(opacity=100);
}

canvas.piechart {
  padding-bottom: -50px;
}

/* Deadline area */
.deadline-bar {
  background: rgba(50, 50, 50, 0.3);
  border-radius: 10px;
  display: block;
  padding: 10px;
  -webkit-transtition: background 0.3s;
  transition: background 0.3s;
}

.deadline-body {
  max-height: 120px;
  overflow: hidden;
  overflow-y: scroll;
}

.deadline-bar:hover {
  text-decoration: none;
  background: rgba(50, 50, 50, 0.6);
}

/* --------------------------Assignments------------------------------------ */
#assignment-info,
#assignment-tasks {
  padding-top: 80px;
}

#assignment-info {
  background: rgba(30, 30, 30, 0.5);
  width: 650px;
  height: 100vh;
}

.assignment-details {
  font-weight: lighter;
}

#assignment-tasks {
  position: absolute;
  width: calc(100% - 650px);
  height: 100vh;
  top: 0;
  left: 650px;
  overflow: hidden;
  /* overflow-y: scroll; */
}

section#assignment-tasks ul {
  padding-left: 0;
  list-style: none;
  overflow: hidden;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 200px;
}

section#assignment-tasks ul li canvas {
  margin-top: 5px;
}

.task-header {
  border: none;
  border-radius: 5px;
  min-height: 50px;
  width: 100%;
  margin-left: 0;
  background: rgba(30, 30, 30, 0.3);
  margin: 2px 0;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-align: inherit;
  color: inherit;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.task-body {
  pointer-events: none;
  cursor: pointer;
}

.task-header:focus {
  background: rgba(20, 20, 20, 0.8);
  outline: none;
}

.task-header:hover {
  background: rgba(20, 20, 20, 0.8);
}

span.task-header-text {
  margin-top: 25px;
  background: red;
}

.task-header p {
  height: 100%;
  margin-top: 12px;
}

.task-details-table {
  width: 100%;
}

.task-details-table tbody tr td:nth-child(2) {
  text-align: right;
}

.task-details-table tbody tr td:nth-child(1),
.task-prompt {
  font-weight: lighter;
  color: rgb(220, 220, 220);
}

/* #gantt-chart-area {
  background: rgba(30, 30, 30, 0.5);
  height: 330px;
  width: 660px;
  /* align-content: center; */
/* } */

#gantt-chart {
  background: rgba(30, 30, 30, 0.4);
  border-radius: 5px;
}

#milestones-activities {
  min-height: calc(100vh - 500px);
  /* background: yellow; */
}

div.milestones-activities-bg {
  background: rgba(30, 30, 30, 0.4);
  border-radius: 5px;
  min-width: 100%;
  height: 90%;
  max-height: 90%;
  /* overflow: hidden; */
}

#activity-tab-body {
  /* background: blue; */
  max-height: calc(100vh - 580px);
  overflow: hidden;
  overflow-y: scroll;
}

#activity-tab-header,
#milestone-tab-header {
  /* background: yellow; */
  /* display: flex */
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(200, 200, 200, 0.3);
}

#activity-tab-header li {
  width: calc(50% - 4px);
  border-radius: 5px;
  margin: 0 2px;
}

#milestone-tab-header li {
  width: calc(33% - 4px);
  border-radius: 5px;
  margin: 0 2px;
}

#activity-tab-header li a.active,
#milestone-tab-header li a.active {
  background: rgba(20, 20, 20, 0.5);
}

#activity-tab-header li a:hover,
#milestone-tab-header li a:hover {
  background: rgba(20, 20, 20, 0.5);
}

.task-dependencies span.task-dep-display {
  /* text-align: center; */
  padding: 2px 8px;
  margin-right: 5px;
  border-radius: calc(0.5rem + 2px);
}

.task-notes-body ul {
  background: red;
  padding: 0;
  margin: 0;
  /* margin-bottom: 0; */
  /* overflow: hidden; */
  /* max-height: 200px; */
}

.task-notes-body li {
  list-style-type: disc;
  list-style-position: inside;
  /* background: lightblue; */
}

#activity-tab-header li a,
#milestone-tab-header li a {
  color: white;
  text-decoration: none;
  background: rgba(70, 70, 70, 0.5);
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px;
  text-align: center;
  font-weight: normal;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

div.activity-tab-log,
div.activity-tab-saved {
  /* background: lightblue; */
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  padding: 5px 0;
}

div.milestone-tab-in-progress,
div.milestone-tab-complete,
div.milestone-tab-overdue {
  padding: 5px 0;
}

div.activity-tab-saved {
  max-height: 55px;
}

div.activity-tab-saved:hover > .complete-activity-button {
  opacity: 1;
  filter: (opacity=100);
  pointer-events: all;
}

div.activity-tab-log p {
  margin: 0;
}

div.activity-tab-log:nth-child(even),
div.activity-tab-saved:nth-child(even),
div.milestone-tab-in-progress:nth-child(even),
div.milestone-tab-complete:nth-child(even),
div.milestone-tab-overdue:nth-child(even) {
  background: rgba(70, 70, 70, 0.3);
}

div.milestone-tab-in-progress p,
div.milestone-tab-complete p,
div.milestone-tab-overdue p {
  font-weight: lighter;
  margin: 0;
  line-height: 50px;
  /* background: yellow; */
  max-width: 65%;
  min-width: 65%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  height: max-content;
  float: left;
}

div.milestone-date {
  /* background: blue; */
  font-weight: lighter;
  text-align: center;
  margin-bottom: 0;
  font-size: 0.7rem;
  padding-top: 5px;
  padding-bottom: 10px;
  /* height: 100%; */
  /* width: 100%; */
  /* float: right; */
}

p.activity-tab-log-details,
.activity-type {
  font-weight: lighter;
  font-style: italic;
  color: rgb(220, 220, 220);
  font-size: 0.8rem;
}

div.activity-target {
  text-align: center;
  line-height: 32px;
  /* background: red; */
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid rgba(200, 200, 200, 0.7);
  font-size: 0.7rem;
}

.activity-type {
  margin-top: -14px;
}

.complete-activity-button {
  opacity: 0.2;
  filter: opacity(20);
  padding: 0;
  margin-bottom: -100px;
  position: relative;
  left: 220px;
  bottom: 50px;
  background: rgba(20, 20, 20, 0.5);
  font-size: 1.1rem;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.complete-activity-button:focus {
  outline: none;
}

@media (max-width: 767.98px) {
  #assignment-info {
    width: 100%;
  }

  #assignment-tasks {
    top: 700px;
    left: 0;
  }

  #gantt-chart-area {
    width: 330px;
  }

  #gantt-chart {
    width: 300px;
  }
}
